* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
}


/* HEADER */

header {
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/textura.png);
}


header img {
    height: 120px;
    cursor: pointer;
}


h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.carrito-icono {
    font-size: 2.4em;
    color:#e4e4e4;
    margin-right: 40px;
    cursor: pointer;
}

.carrito-icono span {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.5em;
    margin-left: 3px;
}

.btn-carrito{
    background: transparent; 
    border:none;
    outline: none;

}

.logo {
    margin-left: 40px;
}



.titulo1 {
    margin-left: 40px;
    text-decoration: none;
    color: #070707;
    background-color: #e64e44;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.titulo1:hover {
    color: #070707;
}


/* PRODUCTOS */

.productos {
    width: 100%;
    height: auto;
    padding-top: 120px;
    padding-bottom: 80px;
}

.item {
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 250px;
    margin:auto;
    height: 400px;
    margin: 50px auto;
}

.item:before {
    content: '';
    background:#3489f8;
    position: absolute;
    display: block;
    bottom:0;
    left: 0;
    width: 100%;
    height: 15%;
    
}

.item-title {
    position: absolute;
    width: 100%;
    bottom: 70px;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
}

.precio {
    position: absolute;
    bottom: 7px;
    left: 21px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

.pesos {
    position: absolute;
    bottom: 7px;
    left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
}

.item-img {
    position: absolute;
    max-height: 300px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comprar-btn{
    display: inline-block;
    position: absolute;
    bottom: 11px;
    background-color: #090909;
    color: white;
    padding: 10px;
    border-radius: 10px;
    right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    border:none;
}

.comprar-btn:hover {
    color:#cca352;
    
}

/* MODAL */


.modal-fullscreen {
    height: auto;
    min-height: 100vh;
}


.btn-close, .btn-close:hover{
    border:none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 102;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #090909;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:#faf7f1;
    position:absolute;
    opacity: 1;
    right: 0;
    top:0;
}



.modal-body {
    margin-top: 60px;
    height: auto;
    min-height: 100vh;
}

tbody {
    height: auto;
    overflow-y: scroll !important;
    
}

.btn-cerrar {
    z-index: 102;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #090909;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color:#cca352;

}


/* CARRITO */

.borrarItemBtn {
    font-size: 2em;
    border: none;
    background-color: transparent;
    color:#070707;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;

}



.precioTotal {
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
    
}

.precioView {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.items-carro {
    color: #cca352;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

th {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

td {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.botones-abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.vaciar-carrito {
    border: none;
    background-color: #070707;
    color:#ffffff;
    border-radius: 20px;
    height: 50px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.vaciar-carrito:hover {
    text-decoration: none;
    color:#cca352;
}

.vaciar-carrito i {
    margin-left: 5px;
}

.finalizar-compra {
    border: none;
    background-color: #070707;
    color:#ffffff;
    border-radius: 20px;
    height: 50px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.finalizar-compra:hover {
    text-decoration: none;
    color:#cca352;
}

.finalizar-compra i {
    margin-left: 5px;
}

/* FINALIZAR COMPRA FORMULARIO */


.formulario-contenedor {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding-top: 90px;
}

.seguir-comprando-btn {
    margin-right: 40px;
    text-decoration: none;
    background-color:#ffffff;
    padding: 10px;
    border-radius: 20px;
    color: #070707;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.seguir-comprando-btn:hover {
    text-decoration: none;
    color:#070707;
}


form {
    padding-top: 90px;
}

.btn-formulario {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #070707;
    color:#ffffff;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

form label {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #070707;
}


/* Footer */

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: url(../img/textura.png);
    display: flex;
    justify-content: center;
    
}
.redes__titulo{
    color: white;
    font-size: 38px;
    justify-content: center;
}
.lista-de-redes{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
footer p {
    color: white;
    line-height: 70px;
}
footer a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 25px;
}






@media screen and (max-width: 400px) {
    .carrito-icono {
        margin-right: 20px; 
    }
    
    .logo {
        margin-left: 20px;
    }
}


